<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <h3>Discover your next favorite movie in your own Movie Room.</h3>
      <p>Watch your favorite  <span class="titles">Series</span>, <span class="titles"> Movies</span>,  <span class="titles"> Documentaries</span> and <span class="titles"> TV Shows</span> anytime, anywhere.</p>

       <!-- <p class="lead">Find your favourite <span class="titles">Series</span>,<span class="titles"> Movies</span>, <span class="titles"> Documentaries</span> and <span class="titles"> TV Shows</span> right on!</p> -->
    </div>
  </div>
</div>
 <div class=""> 
    <!-- <div *ngFor="let movie of movie" class="no-margin"> -->
       <app-movies>[movie]='movie'</app-movies>
    <!-- </div>  -->
</div>
   
<!-- <div class="grid-container">
    <div *ngFor="let movie of movie">
        <app-movies>[movie]='movie'</app-movies>>
    </div>
</div> -->


  
     