
<!--CARD-->

<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" [src]="movie.image_url" alt="{{ movie.title }}"/>
      <h1 class="movie-h1">{{ movie.title }}</h1>
      
      <h4><span class="movie-desc">Release Date: </span>{{movie.release_date}}</h4>
      <span class="minutes"><span class="movie-desc">Duration: </span>{{ movie.duration }} mins</span>
      <!-- <p class="type"><span class="movie-desc">Genre:</span> {{movie.genre}}</p> -->
      <!-- <p class="type">Directors: {{movie.actors}}</p> -->
      
      <p><span class="movie-desc">Directors:</span> {{movie.director}}</p>
      
    </div>
    <div class="movie_desc">
      <!-- <p class="type">Cast: {{movie.actors}}</p> -->

      <p class="text description-scroll">
        <span class="movie-desc">Description: </span> {{ movie.description }}
      </p>
      <div class="btnLinks">
        <!-- <button>Add to watchlist</button> -->

        <button>
        <a [href]="movie.trailer" target="_blank">Watch Trailer</a>
        <!-- <button (click)="openYoutube()" routerLink="">Trailer {{ movie.trailer }}</button> -->
        </button>

        <!-- <button> -->
          <!-- <a [href]="" target="_blank">Add to watch</a> -->
          <!-- <button (click)="openYoutube()" routerLink="">Trailer {{ movie.trailer }}</button> -->
        <!-- </button> -->
      </div>
    </div>
  </div>
  
  <div class="blur_back bright_back"></div>
</div>




