form{
    margin-top: 5rem;
}

#cent{
    text-align: center;
}

#log-suc{
    margin-top: 15rem;
    text-align: center;
    justify-content: center;
}

.text-600 {
    color: blue;

}

.btn{
    background-color: rgb(34,193,195);

}

/* Glass effect
.glass-effect {
    background: linear-gradient(135 deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px Solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
}
*/