<div class="container-fluid">
  <div class="container">
    <div class="button-container">

       <!-- <app-searchbar></app-searchbar> -->
       <!-- <form class="d-flex" role="search"> -->
        <!-- <input class="form-control me-2" type="search" [(ngModel)]="searchTerm" (keyup.enter)="search($event)"  placeholder="Search Movies" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
      <!-- </form> -->

      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" [(ngModel)]="searchTerm" (keyup.enter)="search($event)"  placeholder="Search Movies" aria-label="Search"> 
      </form> -->
      
      <div class="form-group">
        <label class="searchInput" for="searchInput">Search</label>
        <input id="searchInput" class="form-control custom-search" type="search" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search for a movie" aria-label="Search">

  
      </div>
      
      
      <div class="moviesNotFound" *ngIf="searchTerm && !moviesFound">Ops! Not found.
        <!-- <script>
          swal("No Movie Found", "Sorry, no movies were found.", "error");
        </script> -->
      </div>
    </div>
  </div>

  <div class="grid card">
    <div class="row">
      <!-- <div class="col-sm-3" *ngFor="let movie of movies ; let index = index"> -->
           <div class="col-sm-3" *ngFor="let movie of movies | filter:searchKey:'title'; let index = index">

        <div class="shadow-sm card mb-13">
          
          <img class="card-img-top"  [src]="movie.image_url" alt="{{ movie.title }}">
 
          <div class="card-body">
            <h5 class="card-title title">{{ movie.title }}</h5>
            <p class="card-title genre">{{ movie.genre}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">{{ movie.release_date }}</small>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="gotoM(index)">
                <i class="far fa-eye fa-inverse"></i> View
              </button>
              <div class="mx-2"></div>
              <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToWatchlist(movie)">
                <i class="fas fa-plus fa-inverse"></i> Add to Watch
              </button>
            </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
</div>