

<div class="container-fluid">
  <div class="container">
    <div class="button-container">
      <button class="movie-button" (click)="onLatestClick()">Latest</button>
      <button class="movie-button" (click)="onPopularClick()">Popular</button>
      <button class="movie-button" (click)="onUpcomingClick()">Upcoming</button> 

      <!-- <form (ngSubmit)="searchMovies()">
        <input type="text" class="search-bar" placeholder="Search..." [(ngModel)]="searchQuery">
        <button type="submit" class="search-button">Search</button>
      </form> -->
      
        <input type="text" class="search-bar" placeholder="Search..." [(ngModel)]="searchQuery">
        <button class="search-button" (click)="searchMovies()">Search</button>
    </div>

  </div>

  <div class="grid card">
    <div class="row">
      <div class="col-sm-3" *ngFor="let movie of movies ; let index = index">
        <div class="shadow-sm card mb-13">
          
          <img class="card-img-top"  [src]="movie.image_url" alt="{{ movie.title }}">
 
          <div class="card-body">
            <h5 class="card-title title">{{ movie.title }}</h5>
            <p class="card-title genre">{{ movie.genre}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">{{ movie.release_date }}</small>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="gotoM(index)">View
                </button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>