

<div class="container-fluid">
  <div class="container">
    <div class="button-container">
      <button class="movie-button" (click)="onLatestClick()">Latest</button>
      <button class="movie-button" (click)="onPopularClick()">Popular</button>
      <button class="movie-button" (click)="onUpcomingClick()">Upcoming</button> 

       <!-- <app-searchbar></app-searchbar> -->
       <!-- <form class="d-flex" role="search"> -->
        <input class="form-control me-2" type="search" [(ngModel)]="searchTerm" (keyup.enter)="search($event)"  placeholder="Search Movies" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      <!-- </form> -->
    </div>
  </div>

  <div class="grid card">
    <div class="row">
      <!-- <div class="col-sm-3" *ngFor="let movie of movies ; let index = index"> -->
           <div class="col-sm-3" *ngFor="let movie of movies let index =index">

        <div class="shadow-sm card mb-13">
          
          <img class="card-img-top"  [src]="movie.image_url" alt="{{ movie.title }}">
 
          <div class="card-body">
            <h5 class="card-title title">{{ movie.title }}</h5>
            <p class="card-title genre">{{ movie.genre}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">{{ movie.release_date }}</small>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="gotoM(index)">View
                </button>
            </div>
            <app-add-to-watch></app-add-to-watch>
            <!-- <div class="btn-group">
              <button style="background-color: #BAFF39;"type="button" class="btn btn-sm btn-outline-secondary" (click)="addToWatchlist()">Add To Wishlist
              </button>
          </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>