<div class="media">
    <img height="450" src="https://images.unsplash.com/photo-1534800011563-d064f00ff539?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2338&q=80" class="mr-3" alt="...">
    
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      <p>Will you do the same for me? It's time to face the music I'm no longer your muse.<br>Heard it's beautiful, be the judge and my girls gonna take a vote.can feel a phoenix inside of me.<br>Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
        
      <button type="button" class="btn btn-outline-primary">Watch Later</button>
    
    </div>
</div>

  
<!--<app-product-card></app-product-card>-->