.media{
    background-color: #000000; 
    /* color: rgb(255, 255, 255); */
    // margin-top: 150px;
}

.title{
    font-size: 50px;
    color: rgb(170, 255, 0);
}

.card-text{
    font-size: 23px;
}

.card-genre{
    font-size: 19px;
    color: rgb(170, 255, 0); 
}

.year{
    font-size: 19px;
    color: rgb(170, 255, 0); 
}








