<div class="media">
    <img height="450" src="https://images.unsplash.com/photo-1534800011563-d064f00ff539?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2338&q=80" class="mr-3" alt="...">
    
    <div class="media-body">
      <h5 class="mt-0">Movie Title</h5>
      <p>Will you do the same for me? It's time to face the music I'm no longer your muse.<br>Heard it's beautiful, be the judge and my girls gonna take a vote.can feel a phoenix inside of me.<br>Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
      <p>Year: 2022</p>
      <p>Rating: 7.6</p>
      <p>Duration: 136 Minutes</p>
      
      <button type="button" class="btn btn-outline-primary">Watch Later</button>
    
    </div>
</div>

  
<!--<app-product-card></app-product-card>-->
<!-- <div
  class="flex items-center gap-4 justify-between pl-1 pr-2 py-2 rounded-xl hover:bg-base-300 cursor-pointer"
  (click)="removeFromCard()"
>
  <img
    [src]="product?.thumbnail"
    class="w-12 h-12 object-cover rounded-full border-base-300 border-4"
    alt=""
  />
  <div class="flex flex-col justify-end">
    <div class="text-[0.6rem] text-right">{{ product?.title }}</div>
    <div class="font-bold text-right">R{{ product?.price }}</div>
  </div>
</div> -->
