//header styles


.navbar {
  background-color: black;
}



.navbar-brand {
    font-size: 38px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.brand-color {
    /* color: #BAFF39; */
    color:rgb(34,193,195);
    /* color: red; */
    /* color: #B6E1E7; blue */
    /* color: #0C1A1A */
}

img {
    margin-right: 7px;
    width: 40px;
    height: 30px;
}

.btn-color {
    /* border-radius: 30px; */
    /* background-color: #BAFF39; */
    /* background-color: #FF5841; */
    background: rgb(34,193,195);
    /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */

    /* background-color: red; */
    color: #f;
    border: 1px solid black;
}

.form-inline .form-control {
    margin-left: 10px;
}
button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.mr-4, .log {
    list-style: none;
}


