
<div class="">
    <div class="col mb-4">
      <div class="card h-100">
        <img class = "card-img-top" [src] = "movie.image_url" alt = {{movie.title}} >
        <div class="card-body">
           
           <h5 class="card-title">{{movie?.title}}</h5>
           <p class="card-text">{{movie.description}}</p>
           <p class="card-text">{{movie.genre}}</p>
           <p class="card-text">{{movie.duration}}</p>
           <p class="card-text">{{movie.image_url}}</p>
           


           
            <button type="submit" class="btn btn-primary" routerLink="/watch-button">watch</button>
         
            <!--make use of the component watch-->
        </div>
      </div>
    </div>
</div>

