<footer class="m-4 text-white bg-black rounde-lg">
  <div class="w-full max-w-screen-xl p-4 mx-auto md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center" style="color: #BAFF39;">© 2023 <a href="" class="hover:underline" style="color: #BAFF39;">TheMovieRoom</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <!-- <li>
        <a href="#" class="mr-4 hover:underline md:mr-6" style="color: #BAFF39;">About</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6" style="color: #BAFF39;">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6" style="color: #BAFF39;">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:underline" style="color: #BAFF39;">Contact</a>
      </li> -->
    </ul>
  </div>
</footer>
