* {
    background-color: black;
    color: white;
  }
  
  .card {
      border: 2px solid black;
  }
  /* card {
    padding: 70px;
  }
  
  .card-title {
    font-size: 18px;
  }
  
  .card-text {
    font-size: 14px;
  } */
  
  .card-img-top {
    width: 380px;
    height: 420px;
  } 
  
  .btn {
    background-color: white;
    color: black;
  }
  
  .nav-item a{
    color: red;
  }