<div class="container">
    <div class="d-flex justify-content-center">
        <h1>Register Page</h1>
        <p>Create an account.</p>
        <hr>
        <form action="action_page.php">
        
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
        
            <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        
                <label for="psw-confirm"><b>Confirm Password</b></label>
                    <input type="password" placeholder="Confirm Password" name="psw-Confirm " id="psw-Confirm " required>
        
            <button type="submit" class="registerbtn">Submit</button>
        </form>
    </div>
</div>
