<!-- <div class="container-fluid">
  <!-- <div class="row">
    <div class="mt-5 text-center col-md-12">
      <h3>Discover your next favorite movie in your own Movie Room.</h3>
      <p>Watch your favorite  <span class="titles">Series</span>, <span class="titles"> Movies</span>,  <span class="titles"> Documentaries</span> and <span class="titles"> TV Shows</span> anytime, anywhere.</p>
    </div>
  </div>
</div>  -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
	<div class="top">
		<div class="columns">
			<div class="p-0 column is-full featured_wrapper">
				<img src="https://github.com/frontend-mastery-web/angular-movies-watch-list/blob/master/src/assets/background.jpg?raw=true" class="featured">
				<!-- <img src="../../assets/background.jpg" class="featured"> -->
				<div class="title_wrapper">
					<span class="has-text-white"></span>
					<h1 class="title is-1 has-text-white">Discover your next favorite Movie in your own MovieRoom.</h1>
					<button class="button is-medium" style="color:#BAFF39;" routerLink="/movies">Watch It Now</button>
				</div>
			</div>
		</div>
	</div>

<!-- <app-movies></app-movies> -->


	<!-- <div class="container">
		<div class="p-0 pt-6 columns is-multiline last">
			<div class="column is-full">
				<p class="has-text-white">Action Movies</p>
			</div>
			<div class="column is-one-quarter">
				<img src="https://m.media-amazon.com/images/M/MV5BMGYyZTk5MjYtNGY2ZS00NzRhLTgwMWMtZjhmMmQ4OGFkNTNiXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg">
			</div>

			<div class="column is-one-quarter">
				<img src="https://m.media-amazon.com/images/M/MV5BMTU0NDE5NTU0OV5BMl5BanBnXkFtZTcwMzI1OTMzOQ@@._V1_SX300.jpg">
			</div>
			<div class="column is-one-quarter">
				<img src="https://www.shorturl.at/jkqB8">
			</div>
			<div class="column is-one-quarter">
				<img src="https://www.shorturl.at/ciADR">
			</div>
		</div>
	</div> -->
	</body>
</html>

<div class=""> 
  <!-- <div *ngFor="let movie of movie" class="no-margin"> -->
    <!-- <h1 class="header-h1">Movies Collection</h1> -->
     <!-- <app-movies>[movie]='movie'</app-movies> -->
  <!-- </div>  -->
</div>


