
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
	<div class="top">
		<div class="columns">
			<div class="p-0 column is-full featured_wrapper">
				<img src="https://github.com/frontend-mastery-web/angular-movies-watch-list/blob/master/src/assets/background.jpg?raw=true" class="featured">
				<!-- <img src="../../assets/background.jpg" class="featured"> -->
				<div class="title_wrapper">
					<span class="has-text-white"></span>
					<h1 class="title is-1 has-text-white">Discover your next favorite Movie in your own MovieRoom.</h1>
					<button class="button is-medium" routerLink="/movies">Watch It Now</button>
				</div>
			</div>
		</div>
	</div>

<!-- <app-movies></app-movies> -->

	</body>
</html>

<div class=""> 
  <!-- <div *ngFor="let movie of movie" class="no-margin"> -->
    <!-- <h1 class="header-h1">Movies Collection</h1> -->
     <!-- <app-movies>[movie]='movie'</app-movies> -->
  <!-- </div>  -->
</div>


