<nav class="navbar navbar-expand-lg" >

    <a class="navbar-brand" routerLink="/home"> TheMovie<span class="brand-color">Room</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="ml-auto navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Movies</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" style="color: orange;">Genres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: orange;">Upcoming</a>
        </li> -->
        <!-- <li class="nav-item dropdown"> --> 
          <!--<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="Login"></a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>-->
        <!-- </li> -->

      </ul>
      <ul class="ml-auto text-white navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item" id="flex-icon">
          <a href="/profile" class="nav-link" routerLink="profile"></a>
        </li>

        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Log Out</a>
        </li>

      </ul>
      
      <form class="my-2 form-inline my-lg-0">
        
        <button button type="button"  class="btn btn-color" routerLink="/login">
            Signup 
        </button>
        <i class="fa fa-user-o"></i> 
        <input class="form-control mr-sm-2" type="search" placeholder="Search by movie title" aria-label="Search">

      </form>
    </div>



   <!--Tailwind conversion of the above code-->
   <!--DO NOT DELETE-->

    <div class="flex-grow">
      <ul class="flex items-center justify-end">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" style="color: orange;">Popular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: orange;">Genres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: orange;">Upcoming</a>
        </li> 
        <li class="relative"> -->
          <!--<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="Login"></a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>-->
        <!-- </li> -->
      </ul>
    
      <ul class="flex items-center justify-end" *ngIf="isLoggedIn">
        <li class="flex items-center mr-4">
          <a href="/profile" class="text-white hover:text-gray-300">
            <i class="fa fa-user-o"></i>
          </a>
        </li>
    
        <li class="mr-4">
          <a href class="text-white hover:text-gray-300" (click)="logout()">Log Out</a>
        </li>
        
        
        <!-- <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Watch List</a>
        </li> -->
      </ul>
    
      <form class="flex items-center justify-end">
        <button type="button" class="mr-2 btn btn-color" routerLink="/login">
          Signin
        </button>
        <!-- <button type="button" class="mr-2 btn btn-color" *ngIf="isLoggedIn" (click)="logout()">
          Sign Out
        </button> -->
        <i class="fa fa-user-o"></i>
        <input class="w-1/3 px-4 py-2 mr-4 rounded-lg shadow-md form-input" type="search" placeholder="Search by movie title" aria-label="Search">

      </form>
    </div>
    

</nav>

 

  




  

 
  